body, form, label, img, input, section, body{
	margin:0;
	padding:0;
}
body{
	header{
		nav{
			form{
				label{
					img{
						width:15%;
						opacity:0.4;
						&:hover{
							opacity:1;							
						}						
					}
				}
				input{
					position:absolute;
					top:-999px;
					
				}
				input+ img{
					position:absolute;
					left:0;
					bottom:0;
					width:50%;					
					display:none;
				}			
				input:checked+ img{
					display:block;
				}
			}
		}
	}
}