body, header, nav, article, section, footer, aside, h1, h2, h3, p, input, button, label, ul, li, a, span, strong, em {
  margin: 0;
  padding: 0;
  border: 0; }

header, footer, body, section, nav, article, aside {
  display: block; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden; }

body {
  width: 1440px;
  background-color: #9215f2;
  color: white;
  font: normal 14px Times; }
  body a {
    text-decoration: none; }
  body > header {
    padding: 22px 15px 5px 12px;
    background: #d593ff;
    background: -moz-linear-gradient(top, #d593ff 0%, #9215f2 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d593ff), color-stop(80%, #9215f2));
    background: -webkit-linear-gradient(top, #d593ff 0%, #9215f2 80%);
    background: -o-linear-gradient(top, #d593ff 0%, #9215f2 80%);
    background: -ms-linear-gradient(top, #d593ff 0%, #9215f2 80%);
    background: linear-gradient(to bottom, #d593ff 0%, #9215f2 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first-color', endColorstr='$second-color',GradientType=0 );
    /*overflow: hidden;*/ }
    body > header #header-container #logo-container {
      float: left;
      position: relative; }
      body > header #header-container #logo-container img {
        width: 305px; }
    body > header #header-container #reg-form-container {
      float: right;
      right: 5%;
      position: relative; }
      body > header #header-container #reg-form-container input {
        margin: 5px;
        padding: 2px;
        width: 130px;
        background-color: #b35ef3;
        border: 1px solid #603382;
        border-radius: 10px;
        text-align: right; }
      body > header #header-container #reg-form-container button {
        margin-left: -8px;
        padding: 5px 8px;
        background-color: #b35ef3;
        border: 1px outset #603382;
        border-radius: 10px;
        color: white;
        font-weight: bold; }
        body > header #header-container #reg-form-container button:hover {
          border-style: inset;
          background-color: #8949b9; }
    body > header nav {
      display: inline-block;
      width: 75%;
      margin: 27px 20px 20px 20px;
      padding: 5px 15px;
      border: 1px solid #000;
      border-radius: 15px;
      font-size: 1.3em; }
      body > header nav ul li {
        display: inline-block;
        margin: 5px;
        position: relative; }
        body > header nav ul li:hover > a {
          text-decoration: underline;
          color: #a8a8a8; }
        body > header nav ul li:hover > ul.sub-nav-list {
          display: block;
          position: absolute;
          background-color: rgba(179, 94, 243, 0.9);
          border-radius: 5px; }
        body > header nav ul li > ul.sub-nav-list {
          display: none;
          position: absolute; }
        body > header nav ul li a {
          color: white; }
        body > header nav ul li ul li {
          float: none;
          margin: 0 15px;
          padding: 10px 0;
          border-bottom: 1px solid black; }
          body > header nav ul li ul li:last-of-type {
            border-bottom-width: 0; }
  body section {
    float: left;
    width: 75%; }
    body section article {
      border: 1px solid black;
      border-radius: 10px;
      margin: 20px;
      padding: 20px; }
      body section article header {
        padding: 5px; }
        body section article header h1 {
          font-size: 1.4em;
          padding: 0; }
      body section article p {
        font-size: 0.9em; }
      body section article footer {
        text-align: right;
        font-size: 1.1em; }
        body section article footer a {
          color: rgba(255, 255, 255, 0.5); }
          body section article footer a:hover {
            text-decoration: underline; }
        body section article footer time {
          font-family: Consolas; }
  body aside {
    margin: 15px;
    padding: 5px;
    width: 20%;
    float: left; }
    body aside ul {
      list-style-type: none; }
      body aside ul li {
        border: 1px solid black;
        border-radius: 10px;
        border-radius: 5px;
        margin: 15px 0;
        padding: 15px;
        font-size: 0.9em; }
        body aside ul li h2 {
          font-size: 1.1em; }
        body aside ul li p {
          margin-top: 10px; }
          body aside ul li p a {
            color: #aaaaaa;
            text-decoration: none; }
            body aside ul li p a:hover {
              text-decoration: underline; }
          body aside ul li p strong, body aside ul li p em {
            color: #ccc; }
          body aside ul li p em {
            font-style: italic; }
        body aside ul li ul li {
          border: none;
          margin: 5px 0 0 10px;
          padding: 0px 25px;
          background: url(images/li-dot.png) no-repeat;
          background-position: 0 50%; }
  body > footer {
    clear: both;
    display: block;
    text-align: center;
    font: bold 1.1em Times;
    font-weight: bold; }

